.header {
    background-color: #1874be;
}
#icon{
    filter: brightness(15);
}
.nav-link{
    color: white !important;
    background-color: #0c3a5f !important;
    border-radius: 8px;
    margin-right: 15px;
  }
  
  .nav-link :hover{
    padding: 1% !important;
    background-color: #061d2f !important;
    color: rgb(255, 240, 240) !important;
    text-shadow: -1px 0 #d2e9fb, 0 1px #d2e9fb, 1px 0 #d2e9fb, 0 -1px white !important;
    transition: 0.3s;
  }