body{
    background-color: white;
}

.especification{
    color: #0c3a5f;
}

.text-card-body{
    color: white;
}

.Botoes{
    background-color: #0c3a5f;
    border-radius: 8px;
    color: white;
    padding: 10px;
}

.Botoes :hover{
    background-color: #061d2f;
    transition: 0.3s;
    padding: 1%;
}

main{
    display: block;
    width: 80%;
    padding: 3%;
    background-color: rgb(248, 248, 248);
    margin: 0 auto;
}
#detalhes{
    display: none;
    width: 100%;
    height: 100%;
}
#detalhes main img{
    width: 40%;
    margin: 0 auto;
}
main #tituloCards{
    text-decoration: none;
    color: black;
}
main #cards{
    grid-column: 2/20;
    grid-row: 2;
    padding: 10px;
    text-align: center;
    align-items: end !important;
}

main #cards .card-text span{
    text-decoration: line-through;
    font-size: 70%;
    color: #0c3a5f;
    margin-left: 3%;
}
main #cards .card-footer{
    text-decoration: none;
    width: 100%;
    background-color: #4ba7f1;
    transition: all 0.5s ease;
}
main #cards .card-footer:hover{
    background-color: #1874be;
    
    transition: all 0.5s ease;
}

button{
    margin: 0 auto;
}